$background-grey: rgba($color: #000000, $alpha: .02);
$border-grey: rgba($color: #000000, $alpha: .1);
$font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-emoji: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji';
$item-width: (100% / 8);

.emoji-picker * {
    box-sizing: border-box;
}

.emoji-picker {
    background: white;
    border: 1px solid $border-grey;
    border-radius: 5px;
    display: block;
    font-family: $font-default;
    font-size: 16px;
    width: 280px;
}

.emoji-picker-header {
    background-color: $background-grey;
    box-shadow: 0 1px $border-grey;
    display: flow-root;
    padding: 6px 6px 0 6px;

    span {
        color: rgba($color: #000000, $alpha: .3);
        cursor: pointer;
        display: block;
        float: left;
        padding: 6px;
        text-align: center;
        width: $item-width;

        &:hover {
            color: rgba($color: #000000, $alpha: .7);
        }

        &.active {
            box-shadow: inset 0 -3px teal;
            color: teal;
        }

        svg {
            height: 20px;
            width: 20px;
        }
    }
}

.emoji-picker-input {
    padding: 6px;

    input {
        border: 1px solid $border-grey;
        border-radius: 5px;
        display: block;
        outline: 0;
        font-size: 16px;
        padding: 5px 25px 5px 10px;
        width: 100%;
    }
}

.emoji-picker-table {
    display: flow-root;
    height: 220px;
    overflow: auto;
    padding: 0 6px 6px;
    position: relative;
}

.emoji-picker-category {
    color: #333;
    float: left;
    font-size: 10px;
    padding: 6px;
    text-transform: uppercase;
    width: 100%;
}

.emoji-picker-item {
    cursor: pointer;
    display: block;
    float: left;
    font-family: $font-emoji;
    font-size: 22px;
    line-height: 24px;
    padding: 6px;
    text-align: center;
    width: $item-width;

    &:hover {
        background: teal;
    }
}

.emoji-picker-footer {
    background-color: $background-grey;
    box-shadow: 0 -1px $border-grey;
    display: table;
    height: 60px;
    overflow: auto;
    position: relative;
    width: 100%;

    .emoji-picker-preview {
        bottom: 10px;
        font-family: $font-emoji;
        font-size: 36px;
        left: 10px;
        position: absolute;
        top: 10px;

        svg {
            color: rgba($color: #000000, $alpha: .3);
            width: 32px;
        }
    }

    .emoji-picker-info {
        display: table-cell;
        font-size: 14px;
        height: 100%;
        padding-left: 55px;
        vertical-align: middle;
        white-space: normal;

        &.placeholder {
            color: rgba($color: #000000, $alpha: .3);
            font-size: 18px;
        }

        small {
            font-size: 11px;
        }
    }

}